<div class="generator -is-loading">
  <div class="generator__actions">
    <div class="-loading">
      <div class="-loading__masker"></div>
      <div class="-loading__masker"></div>
      <div class="-loading__masker"></div>
    </div>
    <div class="-loaded">
      <!-- Metadata is loaded here. -->
      <a href=""><i class="material-icons">share</i> twipsum.net/</a>
      <a id="copy-twipsum" href=""><i class="material-icons">content_copy</i> Copy text</a>
    </div>
  </div>
  <div class="generator__twipsum">
    <div class="-loading">
      <div class="-loading__masker"></div>
    </div>
    <div class="-loaded">
      <!-- Generator content is loaded here. -->
    </div>
  </div>
</div>
