<div class="intro">
  <div class="intro__logo">
    <a href="/"><img src="./img/logo-twipsum.svg" alt="Twipsum"></a>
    <img src="./img/tagline.svg" alt="Twitter to Lorem Ipsum Generator">
  </div>
  <div class="intro__search">
    <form id="search" class="" action="/" method="post">
      <input type="search" placeholder="Search @username or #hashtag">
    </form>
  </div>
  <div class="intro__suggestions">
    <div>Popular Twipsums:</div>
    <ul>
      <li class="-active"><a href=""><img src="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_400x400.jpg" alt="">@realDonaldTrump</a></li>
      <li><a href="">#FederalBudget2017</a></li>
      <li><a href="">#oscars</a></li>
      <li><a href=""><img src="https://pbs.twimg.com/profile_images/817027637466005505/IwRu9byQ_400x400.jpg" alt="">@richardbranson</a></li>
      <li><a href=""><img src="https://pbs.twimg.com/profile_images/533405266658615296/ULwCXwFs_400x400.jpeg" alt="">@SarahKSilverman</a></li>
      <li><a href=""><img src="https://pbs.twimg.com/profile_images/782474226020200448/zDo-gAo0_400x400.jpg" alt="">@elonmusk</a></li>
      <li><a href=""><img src="https://pbs.twimg.com/profile_images/730612231021322240/Rl0_QYhL.jpg" alt="">@ConanOBrien</a></li>
      <li><a href=""><img src="https://pbs.twimg.com/profile_images/853529787561889792/vGsiYn_y_400x400.jpg" alt="">@ladygaga</a></li>
    </ul>
  </div>
  <div class="intro__credits">
    <a href="https://twitter.com/damirkotoric" target="_blank">
      <img src="https://pbs.twimg.com/profile_images/520371986367672320/_7f7Q_IE_400x400.jpeg" alt="">
      <span>made by @damirkotoric</span>
    </a>
  </div>
</div>
